stages:
  - test
  - deployment
  - release
  - tags
  - monitoring

variables:
  LC_ALL: "en_US.UTF-8"
  LANG: "en_US.UTF-8"

.android_docker_image:
  image: cirrusci/flutter:1.22.2
  tags:
    - docker

.marcela_osx:
  script:
    - bundle update fastlane
  tags: 
    - ios

test:debian:
  extends: .android_docker_image
  stage: test
  script:
    - source .${CI_COMMIT_REF_NAME}.env
    - flutter test --coverage
    - genhtml coverage/lcov.info --output=coverage
  artifacts:
    paths:
      - coverage/
    expire_in: 5 days

test:macos:
  extends: .marcela_osx
  stage: test
  script:
    - source .${CI_COMMIT_REF_NAME}.env
    - flutter test --coverage
    - genhtml coverage/lcov.info --output=coverage
  artifacts:
    paths:
      - coverage/
    expire_in: 5 days
  tags:
    - ios

####################### IOS ###############################

ipa:testflight:
  extends: test:macos
  needs: ["test:macos"]
  stage: deployment
  before_script:
    - source .${CI_COMMIT_REF_NAME}.env
    - cd ios/
    - gem install bundler
    - bundle install --path vendor/bundle
    - flutter pub get
    - flutter pub run environment_config:generate
  script:
    - bundle exec fastlane beta
  tags:
    - ios
  only:
    - dev
    - master

ipa:submit_to_review:
  extends: ipa:testflight
  stage: release
  when: manual
  allow_failure: false
  script:
    - bundle exec fastlane make_prod
  only:
    - master
  

ipa:push_tags:
  extends: ipa:submit_to_review
  stage: tags
  release:
    tag_name: ${CI_PIPELINE_ID}-iOS

apk:push_tags:
  extends: apk:prod_track
  stage: tags
  release:
    tag_name: ${CI_PIPELINE_ID}-Android
    description: ${CI_PIPELINE_ID}-Android Release


ipa:sentry:dsyms:
  extends: ipa:push_tags
  stage: monitoring
  script:
    - bundle exec fastlane monitoring
    - brew install getsentry/tools/sentry-cli
    - sentry-cli releases set-commits --auto $CI_PIPELINE_ID



####################### ANDROID ###############################

apk:alpha_track:
  stage: deployment
  extends: .android_docker_image
  before_script:
    - source .${CI_COMMIT_REF_NAME}.env
    # this will fetch the base64 encoded key store from our CI variables, decode it and place it underneath the path specified in build.gradle
    - echo "$PLAY_STORE_UPLOAD_KEY" | base64 --decode > android/key.jks
    - cd android/
    - gem install bundler
    - bundle install
    - flutter pub get
    - flutter pub run environment_config:generate
  script:
    - flutter build apk --release --build-number=$CI_PIPELINE_ID --build-name=1.0.$CI_PIPELINE_ID
    - bundle exec fastlane beta
  artifacts:
    paths:
      - build/app/outputs/apk/release/app-release.apk
    expire_in: 1 day
  only:
    - dev

apk:prod_track:
  stage: release
  extends: .android_docker_image
  before_script:
    - source .${CI_COMMIT_REF_NAME}.env
    # this will fetch the base64 encoded key store from our CI variables, decode it and place it underneath the path specified in build.gradle
    - echo "$PLAY_STORE_UPLOAD_KEY" | base64 --decode > android/key.jks
    - cd android/
    - flutter pub get
    - gem install bundler
    - bundle install

  script:
    - flutter build apk --release --build-number=$CI_PIPELINE_ID --build-name=1.0.$CI_PIPELINE_ID
    - bundle exec fastlane beta
  artifacts:
    paths:
      - build/app/outputs/apk/release/app-release.apk
    expire_in: 1 day
  only:
    - master