name: sss_mobile
description: Mobile SSS, mainly SCM

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 35.0.0+1

flutter:
  uses-material-design: true

environment:
  sdk: ">=2.2.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  dartz: ^0.9.2
  mockito: ^4.1.3
  get_it: ^5.0.1
  json_annotation: ^3.0.1
  shared_preferences: ^0.5.12+4
  google_maps_flutter: ^1.0.6
  google_maps_place_picker: ^1.0.0
  flutter_bloc: ^6.1.0
  meta: ^1.2.3
  equatable: ^1.2.5
  dio: ^3.0.10
  environment_config:
  cupertino_icons: ^0.1.2
  intl_utils: ^1.9.0
  flutter_form_builder: ^3.14.1
  flutter_localizations:
    sdk: flutter

dev_dependencies:
  build_runner: ^1.8.0
  json_serializable: ^3.5.0
  flutter_test:
    sdk: flutter


flutter_intl:
  main_locale: cs_CZ # Optional. Sets the main locale used for generating localization files. Provided value should consist of language code and optional script and country codes separated with underscore (e.g. 'en', 'en_GB', 'zh_Hans', 'zh_Hans_CN'). Default: en
  enabled: true # Required. Must be set to true to activate the package. Default: false
  class_name: S # Optional. Sets the name for the generated localization class. Default: S
  arb_dir: lib/core/localization/l10n # Optional. Sets the directory of your ARB resource files. Provided value should be a valid path on your system. Default: lib/l10n
  output_dir: lib/core/localization/generated # Optional. Sets the directory of generated localization files. Provided value should be a valid path on your system. Default: lib/generated

environment_config:
  path: env_config.dart
  fields:
    PROD:
      env_var: PROD
      const: true
      default: false
    API_URL:
      env_var: API_URL
      const: true
      default: 'https://sss.suma.guru/api'


